<% include partials/header %>

<div class="container" align="center">
  <table class="main-table">
    <% for (var url in urls) { %>
      <% if (urls[url].belongsTo == user) { %>
      <tr>
        <td><h2><a href="/urls/<%= urls[url].short %>"><%= urls[url].short %></a><td>
          <td class="url-table-items"><a href="<%= urls[url].long %>"><%= urls[url].long %></a></h2></td>
        <td class="url-table-ietms">
          <a href="/urls/<%= url %>"<btn class="btn btn-info" style="margin-bottom: 5px">
            Edit
          </btn></a>
          <td style="padding-left: 40px; padding-bottom: 1px">
            <form action="/urls/<%= url %>/delete" method="POST">
              <input style="margin-bottom: 5px" class="btn btn-danger" type="submit" value="Delete">
            </form>
          </td>
      </tr>
      <% } %>
    <% } %>
  </table>
</div>

<% include partials/footer %>
